@namespace AntDesign.Pro.Layout
@inherits AntProComponentBase

<div class="@ClassMapper.Class">
    <Layout Style="min-height: 100%;">
        @if (MenuRender)
        {
            if (Layout == Layout.Top && !IsMobile)
            {
                <SiderMenu />
            }
            else
            {
                <SiderMenu />
            }
        }

        <Layout Style="@_genLayoutStyle">
            @if (HeaderRender && Pure)
            {
                <HeaderView />
            }

            <WrapContent>
                @if (Loading)
                {
                    <PageLoading />
                }
                else
                {
                    @ChildContent
                }
            </WrapContent>
        </Layout>
    </Layout>
</div>
