@namespace AntDesign.Pro.Layout
@inherits AntProComponentBase

<div class="@ClassMapper.Class">
    <Layout Style="min-height: 100%;">
        @if (MenuRender)
        {
            if (Layout == Layout.Top && !IsMobile)
            {
                <SiderMenu
                    MenuExtraRender="MenuExtraRender"
                    MenuData="MenuData"
                    Theme="Theme"
                    Mode="Mode"/>
            }
            else
            {
                <SiderMenu
                    MenuExtraRender="MenuExtraRender"
                    MenuData="MenuData"
                    Theme="Theme"
                    Mode="Mode"/>
            }
        }

        <Layout Style="@_genLayoutStyle">
            @if (HeaderRender && Pure)
            {
                <HeaderView 
                    FixedHeader="FixedHeader"
                    Logo="Logo"
                    Title="@Title"/>
            }

            <WrapContent>
                @if (Loading)
                {
                    <PageLoading />
                }
                else
                {
                    @ChildContent
                }
            </WrapContent>
        </Layout>
    </Layout>
</div>
