@namespace AntDesign.Pro.Layout
@inherits AntDomComponentBase

<Content Class="@Class" Style="@Style">
    <!--todo:ConfigProvider-->

    <div class="@PrefixCls-basicLayout-children-content-wrap">
        @ChildContent
    </div>
</Content>
