@namespace AntDesign.Pro.Layout

<Dropdown 
    Style="display: inherit; width: inherit;" 
    Placement="PlacementType.BottomRight"
    OverlayClassName="container"
    OverlayStyle="min-width: 144px;">
    <Overlay>
        <Menu Class="menu" OnMenuItemClicked="OnItemSelected">
            @foreach (var locale in Locales)
            {
                <MenuItem Key="@locale">
                    <span role="img" aria-label="@LanguageLabels[locale]">
                        @LanguageIcons[locale]
                    </span>
                    @LanguageLabels[locale]
                </MenuItem>
            }
        </Menu>
    </Overlay>
    <ChildContent>
        <span class="dropDown">
            <Icon Type="global" Theme="outline" />
        </span>
    </ChildContent>
</Dropdown>
