@namespace AntDesign.Pro.Layout
@inherits AntDomComponentBase

<div style="@Style" class="ant-pro-page-container">
    <div class="@_prefixedClassName-warp">
        <PageHeader Title="Title" PageHeaderBreadcrumb="Breadcrumb">
            <PageHeaderContent>
                <div class="@_prefixedClassName-detail">
                    <div class="@_prefixedClassName-main">
                        <div class="@_prefixedClassName-row">
                            @if (Content != null)
                            {
                                <div class="@_prefixedClassName-content">@Content</div>
                            }
                            @if (ExtraContent != null)
                            {
                                <div class="@_prefixedClassName-extraContent">
                                    @ExtraContent
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </PageHeaderContent>
        </PageHeader>
    </div>
    <GridContent>
        @if(ChildContent!=null){
            <div class="@_prefixedClassName-children-content">
                @ChildContent
            </div>
        }
    </GridContent>
</div>

