@namespace AntDesign.Pro.Layout
@inherits AntDomComponentBase

<div style="margin-bottom: 24px;">
    <h3 class="@PrefixCls-drawer-title">@Title</h3>
    @ChildContent
</div>

@code
{
    [Parameter] public string PrefixCls { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
