@namespace AntDesign.Pro.Layout
@inherits AntDomComponentBase

<AntList
    Split="false"
    DataSource="Settings"
    ItemLayout="AntDirectionVHType.Horizontal">
    <Item Context="item">
        <span style="opacity: @(item.Disabled ? "0.5" : "1")">@item.Title</span>
        @item.Action
    </Item>
</AntList>

@code
{
    public SettingItem[] Settings { get; set; } = {
        new SettingItem
        {
            Title = "header",
            Action = @<Switch Size="small"/>
        },
        new SettingItem
        {
            Title = "footer",
            Action = @<Switch Size="small"/>
        },
        new SettingItem
        {
            Title = "menu",
            Action = @<Switch Size="small"/>
        },
        new SettingItem
        {
            Title = "menuHeader",
            Action = @<Switch Size="small"/>
        },
    };
}
