@namespace AntDesign.ProLayout
@using Microsoft.Extensions.Options
@inherits AntDomComponentBase
@inject IOptions<ProSettings> SettingState

<AntList
    Split="false"
    DataSource="OtherSettings"
    ItemLayout="ListItemLayout.Horizontal">
    <ListItem>
        <span style="opacity: @(context.Disabled ? "0.5" : "1")">@context.Title</span>
        @context.Action
    </ListItem>
</AntList>

@code
{
    public SettingItem[] OtherSettings { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        OtherSettings = new[]
        {
            new SettingItem
            {
                Title = "Weakmode",
                Action = @<Switch Size="@InputSize.Small" @bind-Value="SettingState.Value.ColorWeak" />
            },
            new SettingItem()
        };
    }
}