@namespace AntDesign.ProLayout
@inherits AntDomComponentBase

<div class="theme-color">
    <h3 class="theme-color-title">@Title</h3>
    <div class="theme-color-content">
        @foreach (var item in Colors)
        {
            <!--todo: tooltip break the style-->
            @*             <Tooltip Title="@item.Key"> *@
            @*             </Tooltip> *@

            <div class="theme-color-block" style="background-color: @item.Color" @onclick="@(async x=> await HandleClickAsync(item.Key))">
                @if (Value == item.Key)
                {
                    <Icon Type="check" Theme="IconThemeType.Outline" />
                }
            </div>
        }
    </div>
</div>